<!DOCTYPE html>
<html>
    <head>
        <title>My first NodeJS Website</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </head>
    <body>
        <p>Hello!</p>
        <p><a href="/logout">Logout</a> </p>

        <table border="1px" width="100%">
            <tr>
                <th>Id</th>
                <th>Details</th>
                <th>Post Time</th>
                <th>Edit Time</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Public Post</th>
           </tr>
        </table>

    </body>
</html>
